@import "tailwindcss";
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-esm: 480px;
  --color-golden: #da9b26;
  --color-lightyellow: #d9a92d;
  --color-dark: #292f29;
  --color-darkgray: #222325;
  --color-offwhite: #efefef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}